@font-face {
    src: url('../fonts/BadScript-Regular.ttf');
    font-family: Bad;
}

@font-face {
    src: url('../fonts/Academy Engraved.ttf');
    font-family: Academy;
}

@font-face {
    src: url('../fonts/NixieOne-Regular.ttf');
    font-family: Nixie;
}

nav {
    background-color: #3D1C3B;
}

nav a {
    font-weight: bold;
}

body {
    font-family: Nixie;
    color: black;
}

h2 {
    width: auto;
    text-align: center;
    font-size: 36px;
    font-family: Academy;
    position: relative;
}

.btn, .btn:hover, .btn:focus, .btn:active {
    background-color: #3D1C3B;
    line-height: 3em;
    height: 3em;
    font-weight: bold;
}

.btn .fab, .btn .far {
    font-size: 2em;
    font-weight: normal;
    position: relative;
    top: 6px;
    margin-right: 5px;
}

.brand-logo {
    font-family: 'Bad';
    font-size: 1.5em !important;
}

#carousel, #story, #registry {
    background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

#carousel, #story, #registry {
    padding: 30px 0px;
}

#carousel {
    padding-bottom: 60px;
}

.carousel {
    margin: -1em 0px;
}

.carousel .indicators {
    bottom: -20px;
}

#welcome, #party {
    padding: 30px 0px 35px 0px;
    border-top: 2px solid #3D1C3B;
    border-bottom: 2px solid #3D1C3B;
}

#location {
    padding: 60px 0px 35px 0px;
    border-top: 2px solid #3D1C3B;
    text-align: left;
}

#location .row {
    display: flex;
    align-items: center;
}

.top.shadow {
    margin-top: -40px;
}

.shadow {
    content: '';
    display: block;
    width: 100vw;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, .9);
    z-index: -1 !important;
}

#welcome h2:after, #party h2:after {
    background-image: url('https://www.documentsanddesigns.com/media/view/500/339/Ornate-Line-16.gif');
    height: 45px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    left: calc(50% - 40px);
    display: block;
    content: '';
    margin-bottom: -24px;
}

p {
    font-weight: 600 !important;
}

section {
    text-align: center;
}

.storyImg {
    width: 400px;
    height: 250px;
}

#story h2 {
    margin-bottom: 1em;
}

#story p {
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: calc(100% - 128px);
    margin-left: 132px;
    margin-top: -50px;
    margin-bottom: 50px;
    text-align: left;
}

#story p:nth-of-type(2) {
    margin-top: -180px;
}

.storyTitle {
    font-size: 1.5em;
    display: block;
    margin-bottom: .5em;
    color: #3D1C3B;
}

#storyImg1 {
    background-image: url(../img/numba1.jpg);
    background-size: cover;
    background-position: center center;
}

#storyImg2 {
    background-image: url(../img/numba2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

#storyImg3 {
    background-image: url(../img/numba3.jpg);
    background-size: cover;
    background-position: center center;
}

#storyImg4 {
    background-image: url(../img/numba4.jpg);
    background-size: 150%;
    background-position: bottom right;
}

#party p {
    color: #3D1C3B;
}

#location iframe {
    width: 100%;
}

#rsvp iframe {
    height: 900px;
    width: 100vw;
}

.carousel-item {
    height: 300px !important;
    width: 450px !important;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(1) {
    background-image: url(../img/4.jpg);
    background-position-y: 40%;
}

.carousel-item:nth-child(2) {
    background-image: url(../img/2.jpg);
    background-position-y: 55%;
}

.carousel-item:nth-child(3) {
    background-image: url(../img/3.jpg)
}

.carousel-item:nth-child(4) {
    background-image: url(../img/1.jpg);
    background-position-y: 32%;
}

.carousel-item:nth-child(5) {
    background-image: url(../img/5.jpg)
}

.carousel-item:nth-child(6) {
    background-image: url(../img/6.jpg)
}

.carousel-item:nth-child(7) {
    background-image: url(../img/7.jpg)
}

.carousel-item:nth-child(8) {
    background-image: url(../img/8.jpg)
}

.carousel-item:nth-child(9) {
    background-image: url(../img/9.jpg)
}

.carousel .indicators .indicator-item {
    height: 12px !important;
    width: 12px !important;
    background: white;
    border: 1px solid #3D1C3B;
}

.carousel .indicators .indicator-item.active {
    background: #3D1C3B;
}

@media only screen and (min-width: 993px) {
    .brand-logo {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #location .row {
        flex-direction: column;
    }
    #location .col {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .storyImg {
        width: 100%;
        height: 400px;
        margin: 0px;
    }
    #storyImg2 {
        height: 800px !important;
        max-height: 800px !important;
        background-position: center center;
        background-size: 120%;
    }
    #story p {
        width: 100%;
        margin: 0px 0px 30px 0px;
        border-radius: 0px;
    }
    .brand-logo {
        font-family: 'Bad';
        font-size: 1em !important;
    }
}
